{block icon}<i class="fa fa-users"></i>{/block}
{block title}{_'contactFormModule.title'}{/block}
{block action}{_'contactFormModule.detail.title'}{/block}

{block content}

<h2 class="mb-4"><a n:href=":ContactForm:Overview:default" class="text-decoration-none text-primary">{include icon} <span class="d-none d-md-inline">{include title}</span></a> &raquo; {include action}</h2>

<table class="table table-bordered">
	<tr>
		<td>{_'contactFormModule.detail.table.head.sentAt'}</td>
		<td>{$item->getSentAt()|date:"d.m.Y H:i"}</td>
	</tr>
	<tr>
		<td>{_'contactFormModule.detail.table.head.name'}</td>
		<td>{$item->getName()}</td>
	</tr>
	<tr>
		<td>{_'contactFormModule.detail.table.head.email'}</td>
		<td>{$item->getEmail()}</td>
	</tr>
	<tr>
		<td>{_'contactFormModule.detail.table.head.message'}</td>
		<td>{$item->getMessage()}</td>
	</tr>
</table>
