{block icon}<i class="fa fa-users"></i>{/block}
{block title}{_'contactFormModule.title'}{/block}
{block action}{_'contactFormModule.overview.title'}{/block}

{block content}

<h2 class="mb-4">{include icon} <span class="d-none d-md-inline">{include title}</span> &raquo; {include action}</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{_'contactFormModule.overview.table.head.sentAt'}</th>
				<th>{_'contactFormModule.overview.table.head.name'}</th>
				<th>{_'contactFormModule.overview.table.head.email'}</th>
				<th>{_'contactFormModule.overview.table.head.status'}</th>
				<th>{_'contactFormModule.overview.table.head.actions'}</th>
			</tr>
		</thead>
		<tbody n:snippet="rows">
			{foreach $items as $id => $item}
				<tr n:snippet="row-{$id}">
					<td>{$item->getSentAt()|date:"d.m.Y H:i"}</td>
					<td>{$item->getName()}</td>
					<td>{$item->getEmail()}</td>
					<td>
						<a n:href="done! id: $id, done: !$item->isDone()" class="ajax btn btn-sm {if $item->isDone()}btn-success{else}btn-danger{/if}">
							{if $item->isDone()}{_'contactFormModule.overview.table.body.status.done'}{else}{_'contactFormModule.overview.table.body.status.undone'}{/if}
						</a>
					</td>
					<td>
						<a n:href=":ContactForm:Detail:default $id" class="btn btn-sm btn-dark">
							<span class="d-none d-lg-inline">{_'contactFormModule.overview.table.body.action.detail'}</span>
							<i class="fa fa-search"></i>
						</a>
						<a n:if="$isUserAllowedToDelete" n:href="delete! $id" class="btn btn-sm btn-danger">
							<span class="d-none d-lg-inline">{_'contactFormModule.overview.table.body.action.delete'}</span>
							<i class="far fa-trash-can"></i>
						</a>
					</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
</div>